
.image-to-show {
    width: 400px;
    height: 400px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
.images-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  
}
.btn-registration{
    padding: 15px 20px;
    border-radius: 30px; 
    margin: 20px 30px 0px 30px;
    border: none;
    box-shadow:  0px 2px 10px 2px rgba(0,0,0,0.25);
    transition: .2s linear;
    cursor: pointer;
    }
    .btn-registration:hover{
        box-shadow: 0 0 0 2px white,0 0 0 4px #3A2F28;
    }
.btn-wrapper{
 text-align: center;
 width:100vw;
 margin: 0 auto;
}
.btn-first {
    background: red;
} 
.btn-second{
    background: green;
}
.hidden{
    display: none;
}
.timer{
    color: black;
}