.container {

    width: 1140px; 
    margin: 0 auto;
}
.text-btn {
    text-align: center;
    border-radius: 10px;
    border: 3px solid black;
    padding: 5px;
    display: block;
    margin-top: 10px;
}

.presentValue{
    display: inline-block;
    position: relative;
    border-radius: 15px;
    padding:  10px 20px 10px 10px;
    font-size: 10px;
    line-height: 2px;
    border: 2px solid rgb(9, 165, 170);
    margin:  10px;
    transition: 1s;
}
.presentValue:hover{
    background-color: rgb(108, 79, 236);
}
.closesIcones {
    background-image: url(./img/close-o.svg);
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    position: absolute;
    top: 3px;
    right: 3px;
    cursor: pointer;
    display: block;
}