  .password-form {
    display: flex;
    flex-direction: column;
  }
  .input-wrapper {
    position: relative;
    width: 200px;
    margin-top: 15px;
         
  }

  .input-wrapper input {
    min-width: 120px;
    padding: 10px;
    margin-bottom: 24px;
  }

  .input-wrapper i {
    position: absolute;
    right: 25px;
    top: 30px;
    color: grey;
  }

  .btn{
    width: 150px;
  }
  .error {
    color: red;
  }
  .not-error {
    visibility: hidden;
  }
  .error-password{
    color: red;
    font-size: 12px;
    line-height: 7px;
    position: absolute;
    top: 100px;
    display: none;
  }
 .block {
   display: block;
 }
