@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600;700&display=swap');
.container {
    width: 1900px;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}
.header-list-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #313131;
}
.header-navigation-menu {
    display: flex;
}
.header-navigation-menu a {
    font-size: 15px;
    line-height: 20px;
text-transform: uppercase;
margin-right: 37px;
transition: 500ms;
}
.header-navigation-menu a:hover{
    color: rgb(64, 64, 230);
}
.header-logo-box {
    display: flex;
    margin-left: 29px;
}
.logo-text{
    font-weight: bold;
font-size: 22px;
line-height: 30px;
margin-left: 27px;
}
.header-background {
    background-image: url(../img/header-background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 163px;
    padding-bottom: 91px;
}
.header-background-text {
    font-weight: bold;
font-size: 27px;
line-height: 37px;
margin-bottom: 44px;
}
.header-center-btn a {
font-size: 18px;
line-height: 25px;
border-radius: 4px;
}
.header-centet-right {
    background-color: #89CA62;
    margin-right: 20px;
    padding: 17px 19px;
}
.header-centet-left {
background-color: #14B9D5;
padding: 17px 30px;
}
.main-background {
    background-color: #F2F2F2;
}
.main-container {
    width: 1170px;
    margin: 0 auto;
} 
.main-photo-list {   
display: flex;
flex-direction: column;
width: 370px;
margin-bottom: 30px;
margin-left: 30px;
}
.main-box-items {
    height: 870px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
}
.main-text-items {
    font-weight: bold; 
    font-size: 18px;
line-height: 25px;
color: #353A3D;
}
.main-text-list{
    padding: 21px 15px;
    background-color: #FFFFFF;
    text-align: center;
}
.main-title-text {
    font-weight: bold;
font-size: 27px;
line-height: 37px;
text-transform: uppercase;
color: #18B4CF;
text-align: center;
padding-top: 50px;
margin-bottom: 50px;
}
.main-section {
    background-image: url(../img/Layer\ 4\ 1.png);
}
.main-section-text {
    font-weight: bold;
font-size: 32px;
line-height: 44px;
text-transform: uppercase;
text-align: center;
padding-top: 108px;

}

.main-strip {
    border-top:3px solid #18B4CF;
    width: 60px;
    margin: 87px auto 0;
    
}
.main-section-logo {
    display: grid;
    padding-bottom: 191px;
    align-items: center;
    justify-content: center;
    grid-template-columns: 207px 135px 232px 141px;
    grid-column-gap: 58px;
    margin-top: 106px;
}


.active-img {
    display: grid;
    grid-template-columns: repeat( 7 , 1fr ) ;
    grid-template-rows: 190px;
}
.cont {
    width: 1195px;
    margin: 0 auto;
}
.main-advertisement {
    display: grid;
    grid-template-columns: 1fr 100px 100px  repeat(3, 80px) 1fr;
    
}
.main-advertisement-post {
   grid-area: 1 / 1 / 2 / 5; 
}
.main-advertisement-list {
    grid-area: 1 / 4 / 2 / 10;
    margin-right: 35px;
}
.main-advertisement-post-2{
    grid-area: 1 / 10 / 2 / 11;
    
    
}
.main-advertisement-post-3 {
    grid-area: 2 / 1 / 4 / 5;
    margin-top: 44px;
}
.main-advertisement-post-4 {
    grid-area: 2 / 6 / 4 / 11;
    margin-top: 44px;
}
.main-advertisement-post-5  {
    grid-area: 4 / 1 / 6 / 5;
}
.main-advertisement-post-6  {
    grid-area: 4 / 6 / 6 / 11;
}
.main-advertisement-post-7  {
    grid-area: 6 / 1 / 7 / 2;
}
 .main-advertisement-list-2 {
     grid-area: 6 / 2 / 7 / 8;
     margin-left: 35px;
 }
 .main-advertisement-post-8{
     grid-area: 6 / 8 / 7 / 11;
 }
 .main-desc-items{
    font-weight: bold;
font-size: 18px;
line-height: 25px;
color: #353A3D;

 }
 .main-desc-link {
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
    padding-top: 14px;
    
 }
 .main-background-list {
    background-color: #F9F7F7;
    padding-top: 41px;
    padding-right: 24px;
    padding-left: 20px;
    text-align: right;
    
    
 }
 .main-desc-list {
    background-color: #F9F7F7;
    margin-bottom: 41px;
    text-align: right;
    
 }
 .main-items {
     background-color: #F9F7F7 ;
width: 277px;
text-align: center;
padding: 14px 27px 11px;
 }
 .footer-list {
     background-color: #000000;
     margin-top: 71px;
     display: grid;
     padding-top: 29px;
    padding-bottom: 29px;
     grid-template-columns: repeat(2,1fr);
     
 }
 .footer-list p {
    font-size: 13px;
    line-height: 13px;
    justify-self: center;
    align-self: center;
 }
 .footer-list img {
    justify-self: center;
    align-self: center;
 }
 .scroll-up {
 padding: 40px 45px;
 border-radius: 100%;
 background-color: #18B4CF;
 position: fixed;
 bottom: 100px;
 right: 100px;
 border:none ;
 font-size: 30px;
 line-height: 20px;
 color: white;
 transition: 200ms;
 opacity: 0;
 visibility: hidden;
 transition: 200ms;
 cursor:pointer;
 }
 .scroll-up:hover{
    box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 6px black;
 }
 .up-btn{
    opacity: 1;
    visibility: visible;  
    
 }
 .center-btn-hide{
     display: flex;
     justify-content: center;
     padding-bottom: 20px;
 }
 .hide-btn{
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    color: #FFFFFF;
    border: none;
    cursor:pointer;
    transition: 200ms;
 }
 .hide-btn:hover{
    box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 6px black;
 }
 .search-block{
     position: relative;
     padding: 20px;
 }
 .search-img{
     display: block;
     cursor: pointer;
     width: 20px;
     height: 20px;
 }
 .submit{
     background: none;
     box-shadow: none;
     border: none;
     padding: 0;
     margin: 0;
     cursor: pointer;
     width: 20px;
     appearance: none;
     height: 20px;
     position: relative;
     z-index: 2;
     right: 25px;
    bottom: -2px;
    display: none;
 }
 .search-line{
     width: 170px;
     padding: 5px 45px 5px 10px;
     box-sizing: border-box;
     border: none;
     font-size: 12px;
     line-height: 16px;
     font-family: Arial, Helvetica, sans-serif;
     border-radius: 22px;
     position: absolute;
     left: -148px;
     top: 19px;
     opacity: 0;
     z-index: -1;
     transition-duration: 0.5s;
 }
 .search-active {
     opacity: 1;
     z-index: 1;
    
 }
 .btn-active{
    display: block;
    
 }
 .search-img-first {
     position: relative;
     right: 25px;
    bottom: -2px;
    
 }
 .search-img-first-none{
     display: none;
     
 }
 